*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#000;
color:white;
text-align:center;
}

.container{
padding:20px;
}

.logo{
width:140px;
height:140px;
margin:25px auto;
border-radius:50%;
background:#000;
display:flex;
align-items:center;
justify-content:center;
border:3px solid #00ffcc;
box-shadow:0 0 25px #00ffcc, 0 0 70px #00ffcc55;
overflow:hidden;
}

.logo img{
width:100%;
height:100%;
object-fit:cover;
border-radius:50%;
}

.subtitle{
margin:10px 0 20px;
color:#ccc;
}

.btn{
display:block;
width:90%;
max-width:500px;
margin:5px auto;   /* tadi 10px */
padding:14px;
border-radius:30px;
background:linear-gradient(45deg,#00f2fe,#00ffcc);
color:black;
font-weight:600;
text-decoration:none;
transition:0.3s;
cursor:pointer;
box-shadow:0 0 15px #00ffcc;
}

.btn:hover{
transform:scale(1.05);
}

.small{
width:80%;
}

.pink{
background:linear-gradient(45deg,#ff00cc,#9933ff);
color:white;
box-shadow:0 0 15px #ff00cc;
}

.hidden{
display:none;
}

.game-list{
margin-top:2px;
}

.game-list h2{
margin-bottom:10px;
color:#00ffcc;
}

.price{
background:#111;
padding:12px;
margin:8px auto;
width:90%;
max-width:450px;
border-radius:15px;
cursor:pointer;
transition:0.3s;
border:1px solid #00ffcc;
}

.price:hover{
background:#00ffcc;
color:black;
}


.smooth{
    max-height:0;
    overflow:hidden;
    opacity:0;
    transition:all 0.5s ease;
}

.smooth.active{
    max-height:2000px;
    opacity:1;
}


.rating{
margin-top:10px;
text-align:center;
animation:fadeIn 1s ease-in-out;
}

.stars{
font-size:22px;
color:#FFD700;
letter-spacing:3px;
text-shadow:0 0 10px #FFD70088;
}

.bintang
.rate-text{
font-size:11px;
color:#ccc;
margin-top:5px;
opacity:0.9;
}


.live-chat{
position:fixed;
bottom:20px;
right:20px;
width:65px;
height:65px;
border-radius:50%;
overflow:hidden;
border:3px solid #00ffcc;
box-shadow:0 0 20px #00ffcc, 0 0 50px #00ffcc66;
z-index:999;
transition:0.3s;
animation:floatChat 2s ease-in-out infinite;
background:#000;
}

.live-chat img{
width:100%;
height:100%;
object-fit:cover;
border-radius:50%;
}

.live-chat:hover{
transform:scale(1.1);
box-shadow:0 0 30px #00ffcc, 0 0 70px #00ffccaa;
}

@keyframes floatChat{
0%{transform:translateY(0);}
50%{transform:translateY(-6px);}
100%{transform:translateY(0);}
}







.popup{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.7);
backdrop-filter:blur(6px);
justify-content:center;
align-items:center;
z-index:9999;
}

.popup-box{
background:#0f0f0f;
padding:25px;
border-radius:15px;
width:85%;
max-width:320px;
text-align:center;
border:2px solid #00ffcc;
box-shadow:0 0 30px #00ffcc88;
animation:fadeUp 0.3s ease;
}

.popup-box h3{
color:#00ffcc;
margin-bottom:10px;
}

.popup-box p{
color:#fff;
margin-bottom:20px;
font-weight:500;
}

.confirm-btn{
background:#00ffcc;
color:#000;
border:none;
padding:10px;
border-radius:8px;
width:100%;
margin-bottom:10px;
font-weight:bold;
cursor:pointer;
}

.close-btn{
background:#222;
color:#fff;
border:none;
padding:8px;
border-radius:8px;
width:100%;
cursor:pointer;
}

@keyframes fadeUp{
from{transform:translateY(30px);opacity:0;}
to{transform:translateY(0);opacity:1;}
}



.live-order{
position:fixed;
left:20px;
bottom:-100px;
background:#111;
color:white;
padding:12px 15px;
border-radius:12px;
display:flex;
align-items:center;
gap:10px;
box-shadow:0 0 15px #00ffcc;
transition:0.5s ease;
z-index:9999;
opacity:0;
}

.live-order.show{
bottom:20px;
opacity:1;
}

.live-order img{
width:35px;
height:35px;
border-radius:50%;
}

.live-text{
font-size:13px;
}

.live-text strong{
color:#00ffcc;
margin-right:4px;
}

.live-text span{
color:white;
  }
